html {
  height: 100%;
}

body{
  padding-top: 75px;
  height: 100%;
  background-color: rgb(245,245,245);
}

body[id="homepage"] {
  background: url("../src/img/wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn {
  border-radius: 0px;
  color: rgb(120,120,120);
  text-transform: uppercase;
}

/* ===== Navbar ===== */
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
.navbar-header img {
  display: inline-block;
  width: 300px;
  margin : 10px;
}

nav ul {
  position: relative;
  top: 25px;
  left : 50px;
}

.navbar-inverse .navbar-nav>li>a {
  color : rgb(120,120,120);
  font-size: 1.3em;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color : #e94936;
}

/* Search bar */
#search-bar {
  position: relative;
  top: 24px;
}

/* ===== Main ===== */
main {
  padding: 40px 15px;
  text-align: center;
}

main #homepageButton {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

main #homepageButton:hover {
  background-color: rgba(233, 73, 55, 0.8);
  color: white;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
  color: black;
}

#musique .row
{
  margin-top: 40px;
  margin-bottom: 20px;
}

#musique .row img{
  margin: 5px;
}

/* ===== Footer ===== */
footer {
  position: absolute;
  bottom: 0px;
}
